.item-container {
    border: 1px solid gray;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-top: 5px;
    overflow: hidden;
    padding: 10px;
    position: relative;
}

.item-container .del-container {
    position: absolute;
    top: 10px;
    right: 20px;
}
