.form-container {
    margin-top: 10px;
}
.wannaDoSth {
    float: left;
}

.btn-save-container button {
    margin-top: -10px;
    float: right;
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 28px;
    /*font-family: Arial;*/
    color: #ffffff;
    font-size: 10px;
    padding: 10px 30px 12px 30px;
    text-decoration: none;
}

.btn-save-container button:hover {
    background: #2980b9;
    background-image: -webkit-linear-gradient(top, #2980b9, #3498db);
    background-image: -moz-linear-gradient(top, #2980b9, #3498db);
    background-image: -ms-linear-gradient(top, #2980b9, #3498db);
    background-image: -o-linear-gradient(top, #2980b9, #3498db);
    background-image: linear-gradient(to bottom, #2980b9, #3498db);
    color: #ffffff;
    text-decoration: none;
}