body{
    width: 100vw;
    background-color: #45a8ef;
    position: relative;
}

.TodoBox-container {
    background-color: white;
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 800px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
}